body {
    font-family: Arial, sans-serif;
    background-color: #1d1c1c;
    color: white;
    margin: 0;
    padding: 0;
}

#boton-descarga, #codigo-qr {
  display: none; /* Ocultar inicialmente */
  margin-top: 20px;
}

.text-center {
    text-align: center;
}

.diseno{
  padding-left: 50px;
  padding-right: 50px;
}

.border-radius{
  border-radius: 50px;
}

.top{
  margin-top: 50px;
}


.bg-grey{

  height: 300px;
  /* background: linear-gradient(to bottom, rgb(71, 71, 71), #1d1c1c); */
}

.titulo{

    font-size: 500%;
    margin-top: 0px;
}

.subtitulos{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 120%;
    background: linear-gradient(to right, #b11020,#b11020, #1d1c1c);
    padding: 10px;

}

.rojo{
  color: #b11020;
}

.texto{
  
  border-radius: 15px;
  padding: 20px;
 
}

.margin{
  margin: 30px;
}

.flex {
    display: flex;
    
  }

  .grid{
    display: grid;
  }

  .grid-container-1 {
    
    display: grid;
    grid-template-columns: 1fr; /* 2 columnas iguales */
    gap: 10px; /* Espaciado entre los elementos */
    justify-items: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;

   
}

.grid-container-2 {
    
  display: grid;
  grid-template-columns: 300px 200px; /* 2 columnas iguales */
  gap: 10px;/* Espaciado entre los elementos */
  justify-items: center;
  align-items: center;
   
 
}

.grid-container-items-2 {
    
  display: grid;
  grid-template-columns: 200px 200px; /* 2 columnas iguales */
  justify-items: center;
  align-items: center;
  background: linear-gradient(to bottom, rgb(71, 71, 71), #1d1c1c);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.7); /* Sombra sutil */
  border-radius: 15px;
  transition: .3s ease-in-out;
  margin: 5px;
  padding: 5px;
}
.grid-container-items-2:hover{
  transform: scale(110%);
  transition: .3s ease-in-out;
  background: rgb(48, 2, 2);
  filter: drop-shadow(1px 1px 20px #000000);
  margin: 5px;
  padding: 5px;
}

.grid-container-3 {
    
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 2 columnas iguales */
  gap: 10px; /* Espaciado entre los elementos */
  
}

.item {
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
} 


.margin-lados{
  margin-left: 50px;
  margin-right: 50px;
}

.centra {
  justify-content: center;
  align-items: center;
}

.separa {
  justify-content: space-between;
}

.abajo-derecha {
  justify-content: end;
  align-items: flex-end;
}

.derecha {
  justify-content: end;

}

.izquierda {
  justify-content: start;
}

.sin-decoracion {
  text-decoration: none;

}


  .boton-rojo {
    background-color: #b11020; /* Rojo llamativo */
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0px 4px 6px rgba(1, 0, 0, 1);
    transition: all 0.3s ease;
  }

  .boton-rojo:hover {
    background-color: #9b1725; /* Color más oscuro al pasar el mouse */
    transform: translateY(-3px);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 1);
  }

  .boton-rojo:active {
    transform: translateY(1px);
    box-shadow: 0px 4px 6px rgb(255, 255, 255);
  }

  .margin-top{
    margin-top: 0;
  }

  .sin-decoracion{
    text-decoration: none;
  }

  .margin-bottom{
    margin-bottom: 0;
  }
  
@media (min-width: 00px) and (max-width: 700px) {



  .grid-container-1 {
    
    display: grid;
    grid-template-columns: 1fr; /* 2 columnas iguales */
    gap: 10px; /* Espaciado entre los elementos */
    justify-items: center;
    align-items: center;
  

   
}

  .grid-container-2 {
    
    display: grid;
    grid-template-columns: 200px 200px; /* 2 columnas iguales */
    gap: 10px; /* Espaciado entre los elementos */
    justify-items: center;
    align-items: center;
  }

  .grid-container-3 {
    
    display: grid;
    grid-template-columns: 200px; /* 2 columnas iguales */
    gap: 10px; /* Espaciado entre los elementos */
    
    justify-items: center;
    align-items: center; 
  }





  


}