body {
    font-family: Arial, sans-serif;
    background-color: #1d1c1c;
    color: white;
    margin: 0;
    padding: 0;
}

.bg-grey{
  background-color: rgb(42, 43, 43);
}

.titulo{

    font-size: 500%;
    margin-top: 0px;
}

.subtitulos{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 120%;
    background: linear-gradient(to right, red,red, #1d1c1c);
    padding: 10px;

}

.texto{
  
  border-radius: 4px;
 
}

.margin{
  margin: 30px;
}

.flex {
    display: flex;
    
  }

  .grid{
    display: grid;
  }

  .grid-container-1 {
    
    display: grid;
    grid-template-columns: 1fr; /* 2 columnas iguales */
    gap: 10px; /* Espaciado entre los elementos */
    justify-items: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;

   
}

.grid-container-2 {
    
  display: grid;
  grid-template-columns: 300px 200px; /* 2 columnas iguales */
  gap: 10px;/* Espaciado entre los elementos */
  justify-items: center;
  align-items: center;
   
 
}

.grid-container-items-2 {
    
  display: grid;
  grid-template-columns: 200px 200px; /* 2 columnas iguales */
  justify-items: center;
  align-items: center;
  background-color: rgb(42, 43, 43);
  border-radius: 4px;
 
}
.grid-container-items-2:hover{
  transform: scale(110%);
  transition: .3s ease-in-out;
  background-color: rgb(48, 2, 2);
  filter: drop-shadow(1px 1px 20px black);
}

.grid-container-3 {
    
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 2 columnas iguales */
  gap: 10px; /* Espaciado entre los elementos */
  
}

.item {
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
} 


.margin-lados{
  margin-left: 50px;
  margin-right: 50px;
}

.centra {
  justify-content: center;
  align-items: center;
}

.separa {
  justify-content: space-between;
}

.abajo-derecha {
  justify-content: end;
  align-items: flex-end;
}

.derecha {
  justify-content: end;

}

.izquierda {
  justify-content: start;
}

.sin-decoracion {
  text-decoration: none;

}

  /* imagen con texto encima */
.contenedor {
    position: relative;
    display: inline-block;
    text-align: center;
  }
  
  .texto-encima {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  
  /* fin  */


  
@media (min-width: 00px) and (max-width: 700px) {



  .grid-container-1 {
    
    display: grid;
    grid-template-columns: 1fr; /* 2 columnas iguales */
    gap: 10px; /* Espaciado entre los elementos */
    justify-items: center;
    align-items: center;
  

   
}

  .grid-container-2 {
    
    display: grid;
    grid-template-columns: 200px 200px; /* 2 columnas iguales */
    gap: 10px; /* Espaciado entre los elementos */
    justify-items: center;
    align-items: center;
  }

  .grid-container-3 {
    
    display: grid;
    grid-template-columns: 200px; /* 2 columnas iguales */
    gap: 10px; /* Espaciado entre los elementos */
    
    justify-items: center;
    align-items: center; 
  }


}